@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
$font__DM: "DM Sans", sans-serif;
* {
  margin: 0;
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: whitesmoke !important;
}
body {
  background-color: #171717;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  color: whitesmoke;
  font-family: $font__DM;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  padding-bottom: 9px;
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  &__icons {
    display: none;
    position: relative;
    &--close {
      position: absolute;
      top: -24px;
      right: 0;
      z-index: 5;
      display: none;
    }
  }
  &__logo {
    h3 {
      font-size: 36px;
      font-weight: bold;
      line-height: 3rem;
    }
  }
  &__menu {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      li {
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        a {
          font-size: 20px;
          &:hover {
            color: #828282;
            border-bottom: 1px solid #27ae60;
          }
        }
      }
    }
  }
}
section {
  margin-top: 5rem;

  .banner {
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        color: #828282;
        padding-bottom: 2rem;
      }
      &--button {
        display: flex;
        gap: 0.5rem;
        a {
          border: 1px solid #f2f2f2;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          padding: 12px 24px;
        }
        .greenB {
          background-color: #27ae60;
          border: none;
        }
      }
    }
    &__right {
      width: 50%;
      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%;
        float: right;
      }
    }
  }
  .about {
    padding-bottom: 120px;
    text-align: center;
    .aContainer {
      padding-left: 15%;
      padding-right: 15%;
    }
    &__heading {
      padding-bottom: 36px;
    }
    &__text {
      padding-bottom: 2.5rem;
    }
    &__buttons {
      padding-left: 150px;
      padding-right: 150px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-between;
      align-items: center;
      &--items {
        svg {
          margin-bottom: 4px;
        }
        p,
        a {
          margin-bottom: 4px;
        }
      }
    }
  }
  .iDo {
    padding-bottom: 102px;
    h1 {
      text-align: center;
      margin-bottom: 72px;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--card {
        padding: 50px 30px;
        width: 30%;
        background-color: #212121;
        svg {
          margin-bottom: 30px;
        }
        h3 {
          font-size: 36px;
          font-weight: 500;
          line-height: 47px;
          color: #535353;
        }
      }
    }
  }
  .skills {
    padding-bottom: 102px;
    h1 {
      margin-bottom: 72px;
      text-align: center;
    }
    &__row {
      border: 1px solid #333333;
      background-color: #212121;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &--value {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        h2 {
          font-size: 72px;
          font-weight: 700;
          line-height: 94px;
          color: #4f4f4f;
        }
        p {
          font-size: 24px;
          font-weight: 700;
          line-height: 31px;
          color: #27ae60;
        }
      }
    }
  }
  .portfolio {
    padding-bottom: 102px;
    .project {
      background: #212121;
      &__image {
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          border-radius: 0.5rem;margin-bottom: 0;
          padding-bottom: 1rem;
          filter: brightness(100%);
        }
        .projectCaption {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          display: none;
        }
        &:hover {
          img {
            filter: brightness(20%);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
          .projectCaption {
            display: block;
            color: whitesmoke;
          }
        }
      }
      &__desc {
        h3{
          color: whiteSmoke;
        }
        h4{
          color: silver;
        }
        .tools,
        .links {
          svg, img {
            width: 32px;
            height: 32px;
            object-fit: contain;
          }
          p {
            color: #333333;
            &:hover {
              color: silver;
            }
          }
          h4{
            color: silver;
          }
        }
      }
    }
  }
  .contact {
    padding: 0 20%;
    h1 {
      text-align: center;
    }
    .form {
      margin: 5rem 0 1rem;
      &__row {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        &--group {
          width: 100%;
          input,
          textarea {
            background-color: transparent;
            border: none;
            width: 100%;
            border-bottom: 1px solid #4f4f4f;
            margin-bottom: 48px;
            color: white;
            font-size: 18px;
            resize: none;
            &:focus {
              outline: none;
              border-bottom: 1px solid white;
            }
          }
          #sMessage {
            width: 100%;
            border: 1px solid #4f4f4f;
            overflow-y: auto;
          }
        }
      }
      &__row2 {
        justify-content: center;
        .group2 {
          width: auto;
        }
        .submitB {
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          padding: 12px 24px;
          background-color: #27ae60 !important;
          border: none;
        }
      }
    }
  }
}
.upKey {
  display: none;
  background-color: #171717;
  border: 3px solid #fff;
  border-radius: 20%;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  bottom: 30px;
  right: 30px;
}

.footer{
 &__copyright{
  p{
    color: white;
    a{
      color: #27ae60;
      text-decoration: none;
    }
  }
 }
}

@media screen and (max-width: 1200px) {
  section {
    .about {
      &__buttons {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .iDo {
      &__row {
        h3 {
          font-size: 28px;
        }
      }
    }
    .skills {
      &__row {
        &--value {
          h2 {
            font-size: 56px;
          }
        }
      }
    }
    .contact {
      padding: 0 10%;
    }
  }
}
@media screen and (max-width: 900px) {
  body {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  .navbar {
    flex-direction: column;
    gap: 1rem;
    &__menu {
      width: 100%;
      ul {
        li {
          a {
            &:hover {
              color: white;
              border: none;
            }
          }
        }
      }
    }
  }
  section {
    .banner {
      &__left {
        &--button {
          flex-direction: column;
          a {
            width: 70%;
          }
        }
      }
    }
    .about {
      .aContainer {
        padding-left: 5%;
        padding-right: 5%;
      }
      &__text {
        p {
          font-size: 20px;
        }
      }
      &__buttons {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
        p,
        a {
          font-size: 20px;
        }
      }
    }
    .iDo {
      &__row {
        flex-direction: column;
        gap: 2rem;
        &--card {
          padding: 50px 30px;
          width: 80%;
          text-align: center;
        }
      }
    }
    .skills {
      &__row {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  section{
    .portfolio{
      .project{
        &__image{
          .projectCaption {
            position: static;
            display: block;
            top: auto;
            left: auto;
            transform: translate(0, 0);
            padding-top: 0.5rem;
            margin-bottom: 0;
            font-size: 14px;
            color: dimgray;
           }
           &:hover{
            .projectCaption{
              display: block;
              color: dimgray;
            }
            img{
              filter: brightness(100%);
            }
          }
        }
      }
    }  
  }
}
@media screen and (max-width: 576px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  h1{
    font-size: 2rem;
  }
  .navbar {
    flex-direction: row;
    &__logo{
      h3{
        font-size: 1.75rem;
      }
    }
    &__icons {
      display: block;
    }
    &__menu {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      ul {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px);
        transition: all 0.5s ease;
        flex-direction: column;
        align-items: center;
        background-color: #171717;
        width: 100%;
        height: 100vh;
        padding: 0;
        justify-content: center;
      }
    }
  }
  section {
    margin-top: 1rem;
    .banner {
      flex-direction: column-reverse;
      gap: 1rem;
      &__left {
        text-align: center;
        &--button {
          align-items: center;
        }
        h1{
            font-size: 2.5rem;
          }
          p{
            padding-bottom: 0;
          }
      }
      &__right {
        width: 80%;
        img {
          float: none;
        }
      }
    }
    .about {
      padding-bottom: 70px;
      &__buttons {
        grid-template-columns: 1fr;
      }
      &__heading{
        padding-bottom: 0;
      }
      &__text{
        padding-bottom: 1rem;
      }
    }
    .iDo {
      padding-bottom: 70px;
      h1{
        padding-bottom: 1rem;
        margin-bottom: 0;
      }
      &__row {
        &--card {
          width: 100%;
        }
      }
    }
    .skills{
      padding-bottom: 70px;
      h1{
        margin-bottom: 0;
        padding-bottom: 1rem;
      }
    }
    .portfolio{
      padding-bottom: 70px;
      h1{
        margin-bottom: 0;
      }
      .project{
        &__desc{
          h3{
            font-size: 1.3rem;
          }
          h4{
            font-size: 1rem;
          }
        }
      }
    }
    .contact {
      padding: 0;
      h1{
        margin-bottom: 0;
        padding-bottom: 1rem;
      }
      .form {
        margin-top: 0;
        &__row {
          flex-direction: column;
          gap: 0px !important;
        }
        &__row2 {
          align-items: center;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  section .portfolio .project__image img {
    height: 200px;
  }
}
